<!--
<img src="http://www.fillmurray.com/500/750">
<img src="/assets/smoking-child.jpg">
-->

<%= image_tag "http://www.fillmurray.com/500/750", :alt => 'Bill Murray' %>
<%= image_tag "smoking-child.jpg" %>

<p>There are also helpers for: video_tag, audio_tag</p>
