<h1>Development Blog</h1>

<div class="post">
  <h2>First post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae velit expedita, ratione illum laudantium, reiciendis est recusandae inventore, quas similique fuga quae ipsum sapiente. Consequatur beatae rem quam, quod.</p>
    <p>Dolores cupiditate mollitia aperiam dolor, suscipit minima quia, incidunt illo officiis necessitatibus, nisi consequuntur aspernatur ab alias voluptates veritatis fugiat facere. Unde, nisi, necessitatibus. Possimus et eum quis saepe vitae.</p>
  </div>
</div>

<div class="post">
  <h2>Second post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae velit expedita, ratione illum laudantium, reiciendis est recusandae inventore, quas similique fuga quae ipsum sapiente. Consequatur beatae rem quam, quod.</p>
    <p>Dolores cupiditate mollitia aperiam dolor, suscipit minima quia, incidunt illo officiis necessitatibus, nisi consequuntur aspernatur ab alias voluptates veritatis fugiat facere. Unde, nisi, necessitatibus. Possimus et eum quis saepe vitae.</p>
  </div>
</div>

<div class="post">
  <h2>Third post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae velit expedita, ratione illum laudantium, reiciendis est recusandae inventore, quas similique fuga quae ipsum sapiente. Consequatur beatae rem quam, quod.</p>
    <p>Dolores cupiditate mollitia aperiam dolor, suscipit minima quia, incidunt illo officiis necessitatibus, nisi consequuntur aspernatur ab alias voluptates veritatis fugiat facere. Unde, nisi, necessitatibus. Possimus et eum quis saepe vitae.</p>
  </div>
</div>

<hr>

<div class="notification">
  This is a notification
</div>

<div class="error">
  There was error
</div>

<div class="success">
  There was success
</div>
