<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>

      <h1>TITLE</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://www.fillmurray.com/400/600" alt="Bill Murray looking handsome">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate architecto atque repellendus repellat provident, tempore delectus asperiores consequatur amet culpa nesciunt. Sint aut, illo consequuntur vitae. Explicabo inventore rem, laudantium!</p>
      <p>Deserunt illo iure, minima libero obcaecati ad culpa quibusdam voluptatibus? Eum, ea, perspiciatis. Eos error quasi optio quidem ipsum, voluptas, illo sunt culpa doloribus, autem nobis architecto, quo quos nulla.</p>
      <p>Doloribus minus libero facilis sunt eligendi quas numquam laborum molestias adipisci optio soluta enim porro quod, vitae temporibus expedita nam tempora tempore atque amet facere maxime! Reprehenderit velit in itaque.</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Zeppo</li>
      </ul>
    </aside>
  </div>

</body>
</html>
