<h1>Welcome to Tunr</h1>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>World goes crazy for some nasty virus</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Trump assassinated</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere numquam, ipsam sint, est sequi at facilis in repudiandae expedita, quos voluptatem commodi modi nisi voluptates ipsa possimus atque iure reiciendis!</p>
  </div>

  <div class="col-md-6">
    <h2>Second wave of COVID-19 hits North Melbourne</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus similique quos mollitia, libero optio distinctio rem nulla beatae ipsa et, sunt, officiis hic accusamus culpa unde aliquid deserunt. Similique, aut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero consequatur reiciendis exercitationem temporibus assumenda iste, rerum similique quasi numquam nam, asperiores veniam ducimus molestias repellat, id obcaecati ipsam eos sed.</p>
    <p>Tempora voluptatibus repudiandae vitae minus aut sequi possimus. Fugiat nesciunt ut, suscipit maiores consequatur culpa facilis minus, saepe quidem fugit voluptas alias quasi itaque odio, at necessitatibus vitae, quam odit.</p>
  </div>

  <div class="col-md-3">
    <h2>Royal family actually lizards</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus beatae, molestias quos est, facilis non veritatis illo labore ad numquam maxime porro fugit quod repellendus. Temporibus modi in illo officia!</p>
  </div>
</div>
