  <h1>Sinatra Calculator</h1>

<form action="/result">
  <label>
    First number:
    <input type="number" placeholder="23" name="x"><!-- params[:x] -->
  </label>

  <label>
    Operator:
    <input placeholder="+ or - or * or /" name="operator"><!-- params[:operator] -->
  </label>

  <label>
    Second number:
    <input type="number" placeholder="3" name="y"><!-- params[:y] -->
  </label>

  <button>Calculate</button>
</form>
